@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Azeret Mono', 'monospace';
	font-weight: 400;
	text-decoration: none;
}

:root {
	--secundario: #f6f6f6;
	--primario: #191919;
	--miPaddingL: 0 20vh;
	--miPaddingSection: 20vh;
	--miMarginDiv: 10vh;
}

/* --------------- ANIMACIONES --------------- */

@keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}

	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}

@keyframes line {
	0% {
		transform-origin: left;
		transform: scaleX(0);
	}

	25% {
		transform-origin: left;
		transform: scaleX(1);
	}

	50% {
		transform-origin: right;
		transform: scaleX(1);
	}

	75% {
		transform-origin: right;
		transform: scaleX(0);
	}

	100% {
		transform-origin: left;
		transform: scaleX(0);
	}
}

@keyframes blink-1 {

	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@keyframes puff-in-center {
	0% {
		transform: scale(2);
		filter: blur(4px);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		filter: blur(0px);
		opacity: 1;
	}
}

/* --------------- GENERAL --------------- */

html {
	scroll-behavior: smooth;
}

body {
	/* Esto es para que el header no tape el main */
	padding-top: 70px;
	background-color: var(--primario);
}

.bold {
	font-weight: 700;
}

h1 {
	font-size: 6em;
	color: var(--secundario);
}

h2 {
	font-size: 2em;
	font-weight: 700;
	color: var(--primario);
}

h3 {
	font-size: 1em;
	font-weight: 400;
	color: var(--primario);
}

p {
	font-size: 1em;
	line-height: 1.7;
	font-weight: 400;
}

.btn-up {
	width: 40px;
	height: 40px;
	background-color: var(--primario);
	position: fixed;
	border: none;
	border-radius: 50%;
	/* escondo el botón para después aparecerlo con js */
	right: -200px;
	bottom: 30px;
	transition: all 500ms;
	cursor: pointer;
}

.btn-up a {
	color: var(--secundario);
	font-size: 20px;
}

.btn-up:hover {
	transform: scale(1.1);
}

/* --------------- LÍNEAS DIVISORIAS --------------- */

.line-container {
	padding: var(--miPaddingL);
	background-color: var(--secundario);
}

.line {
	width: 100%;
	height: 2px;
	background-color: var(--primario);
	animation: line 3s infinite;
}

/* --------------- HEADER --------------- */

header {
	width: 100%;
	height: 70px;
	background-color: var(--primario);
	display: flex;
	align-items: center;
	padding: var(--miPaddingL);
	position: fixed;
	top: 0;
	z-index: 5;
}

nav {
	display: flex;
	align-items: center;
}

.nav-menu {
	display: flex;
	gap: 70px;
}

.nav-menu a {
	font-size: 0.8em;
	color: var(--secundario);
	position: relative;
}

.nav-menu a::after {
	content: "";
	position: absolute;
	right: 0;
	top: calc(100% + 5px);
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #f6f6f6;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 500ms ease-in-out;
}

.nav-menu a.selected::after,
.nav-menu a:hover::after {
	transform-origin: left;
	transform: scaleX(1);
}

.open-menu>div {
	background-color: var(--secundario);
	width: 30px;
	height: 2px;
	margin-bottom: 8px;
}

.open-menu>div:last-child {
	margin-bottom: 0px;
}

.close-menu>div {
	background-color: var(--secundario);
	width: 30px;
	height: 2px;
}

.close-1 {
	transform: rotate(45deg);
}

.close-2 {
	transform: rotate(-45deg);
	translate: 0px -2px;
}

.open-menu,
.close-menu {
	display: none;
}

/* --------------- FOOTER --------------- */

footer {
	width: 100%;
	display: flex;
	gap: 150px;
	padding: 20vh 20vh 10vh;
	background-color: var(--secundario);
	font-size: 0.8em;
	color: var(--primario);
}

.li_title {
	margin-bottom: 20px;
	font-weight: 700;
}

.footer-data {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer-redes {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: flex-end;
}

.footer-redes li a {
	font-size: 25px;
	color: var(--primario);
}

/* --------------- LANDING --------------- */

#landing {
	width: 100%;
	background-color: var(--primario);
	height: calc(100vh - 70px);
	padding: var(--miPaddingL);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--miMarginDiv);
	animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
}

#landing .line {
	background-color: var(--secundario);
	padding: 0;
}

#landing p {
	color: var(--secundario);
	font-size: 1em;
	letter-spacing: 5px;
}

/* --------------- SOBRE MÍ --------------- */

#about {
	width: 100%;
	background-color: var(--secundario);
	padding: var(--miPaddingSection);
	color: var(--primario);
}

#about .about-data {
	width: 70%;
}

#about .about-data h2 {
	margin-bottom: var(--miMarginDiv);
}

/* --------------- FORMACIÓN --------------- */

#formacion {
	background-color: var(--secundario);
	padding: var(--miPaddingSection);
	color: var(--primario);
}

/* LÍNEA */

.timeline {
	width: 80%;
	display: flex;
	justify-content: center;
	margin: calc(var(--miMarginDiv) + 35px) auto 0;
	position: relative;
}

/* LÍNEA DEL MEDIO */

.timeline::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 2px;
	left: 50%;
	background-color: var(--primario);
}

/* CONTENIDO LÍNEA */

.timeline ul li {
	width: 50%;
	padding: 25px;
	background-color: var(--primario);
	margin-bottom: 50px;
}

/* PARTE IZQUIERDA */

.timeline ul li:nth-child(odd) {
	float: left;
	clear: right;
	transform: translateX(-50px);
	border-radius: 10px 0 10px 10px;
}

.timeline ul li:nth-child(odd)::after {
	right: -30px;
	transform: translate(50%, -50%);
}

/* PARTE DERECHA */

.timeline ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(50px);
	border-radius: 0 10px 10px 10px;
}

.timeline ul li:nth-child(even)::after {
	left: -30px;
	transform: translate(-50%, -50%);
}

/* QUITAR MARGIN-BOTTOM AL ÚLTIMO ÍTEM */

.timeline ul li:last-child {
	margin-bottom: 0;
}

/* SETEO CONTENIDO DE LA LÍNEA */

.time-content .date {
	font-size: 0.6em;
	font-weight: 400;
	letter-spacing: 3px;
	margin-bottom: 10px;
	position: absolute;
	top: -30px;
}

.time-content p {
	font-size: 0.8em;
	font-weight: 400;
	line-height: 1.7;
	color: var(--secundario);
}

/* --------------- TRABAJOS --------------- */

#work {
	background-color: var(--secundario);
	width: 100%;
	padding: var(--miPaddingSection);
}

.work-container {
	width: 100%;
	margin-top: var(--miMarginDiv);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 50px;
}

.work-container a {
	width: 30%;
	display: flex;
	align-items: flex-end;
	height: 350px;
	font-size: 2em;
	color: var(--secundario);
	background-color: var(--primario);
	padding: 0 30px 30px;
}

.work-container a:hover {
	background-color: var(--secundario);
	color: var(--primario);
	transition: 500ms;
	animation: blink-1 600ms both;
}

/* --------------- CONTACTO --------------- */

#contacto {
	background-color: var(--secundario);
	width: 100%;
	padding: var(--miPaddingSection);
	color: var(--primario);
}

.form-container {
	margin-top: var(--miMarginDiv);
	width: 100%;
	display: flex;
	gap: 20vh;
}

.form {
	width: 60%;
}

#contacto form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#contacto form label {
	font-size: 1em;
	font-weight: 700;
}

#contacto form input {
	height: 5vh;
	padding: 20px;
	background-color: var(--secundario);
	border: 1px solid var(--primario);
}

#contacto form textarea {
	resize: none;
	padding: 20px;
	background-color: var(--secundario);
	border: 1px solid var(--primario);
}

#contacto form .send {
	width: 100%;
	height: 60px;
	padding: 0 10vh;
	background-color: var(--primario);
	color: var(--secundario);
	font-weight: 700;
	font-size: 1em;
	cursor: pointer;
}

#contacto form .send:hover {
	animation: blink-1 0.6s both;
}

/* --------------- VÍAS ALTERNATIVAS --------------- */

.contacto-other {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contacto-other ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
}

.contacto-other ul li a {
	color: var(--primario);
	font-size: 25px;
}

.fa-whatsapp:hover {
	color: #128c7e;
	transition: all 500ms;
}

/* --------------- HOVER REDES SOCIALES --------------- */

.fa-telegram:hover {
	color: #2aabee;
	transition: all 500ms;
}

.fa-behance:hover {
	color: #1769ff;
	transition: all 500ms;
}

.fa-linkedin-in:hover {
	color: #0077b5;
	transition: all 500ms;
}

.fa-envelope:hover {
	color: #034fa0;
	transition: all 500ms;
}

.fa-facebook:hover {
	color: #4267b2;
	transition: all 500ms;
}

.fa-twitter:hover {
	color: #1da1f2;
	transition: all 500ms;
}

.fa-youtube:hover {
	color: #ff0000;
	transition: all 500ms;
}

.fa-instagram:hover {
	color: #c13584;
	transition: all 500ms;
}

/* --------------- PRESENTACIÓN DE DISEÑOS --------------- */

#present-design {
	width: 100%;
	background-color: var(--primario);
	height: calc(100vh - 70px);
	padding: var(--miPaddingL);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--miMarginDiv);
	animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
}

#present-design .line {
	background-color: var(--secundario);
}

#present-design h2,
#present-design p,
#present-design a {
	color: var(--secundario);
}

#present-design p {
	width: 70%;
}

/* --------------- GALERÍA --------------- */

#gallery {
	padding: var(--miPaddingSection);
	display: flex;
	flex-direction: column;
	background-color: var(--secundario);
	gap: var(--miMarginDiv);
}

#gallery h3 {
	font-size: 1em;
}

#gallery .line {
	margin: 10vh 0;
}

.gallery-section {
	display: flex;
	flex-direction: column;
	gap: var(--miMarginDiv);
}

.gallery-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.gallery-item {
	width: 30%;
	height: 250px;
	filter: grayscale(1);
	cursor: pointer;
}

.gallery-item:hover {
	transition: all 500ms;
	filter: grayscale(0);
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* --------------- IMAGEN ABIERTA --------------- */

/* --------------- FONDO --------------- */

.lightbox {
	position: fixed;
	display: none;
	background: rgba(0, 0, 0, 0.95);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* z-index para que quede encima del header */
	z-index: 10;
}

/* --------------- CAJA IMAGEN ABIERTA --------------- */

.lightbox-content {
	width: 70%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.lightbox-content img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* --------------- FLECHAS --------------- */

.lightbox-prev,
.lightbox-next {
	position: absolute;
	font-size: 2em;
	color: var(--secundario);
	padding: 10px;
	top: 45%;
	cursor: pointer;
}

.lightbox-prev {
	left: -50px;
}

.lightbox-next {
	right: -50px;
}

/* --------------- RESPONSIVE --------------- */

@media (max-width: 1200px) {

	:root {
		--miPaddingL: 0 15vh;
		--miPaddingSection: 15vh;
	}

	/* --------------- HEADER --------------- */

	.nav-menu {
		width: 100%;
		height: 100%;
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 0;
		padding-left: var(--miPaddingSection);
		background-color: var(--primario);
		/* overflow-y: auto; */
		opacity: 0;
		pointer-events: none;
		/* transition: opacity 500ms; */
	}

	.nav-menu li {
		font-size: 1.5em;
	}

	.open-menu,
	.close-menu {
		display: block;
		border: none;
		background: none;
		cursor: pointer;
	}

	.close-menu {
		align-self: flex-start;
		padding: 35px 0 0 0;
	}

	.menu_opened {
		opacity: 1;
		pointer-events: all;
	}

	.open-menu:focus:not(:focus-visible),
	.close-menu:focus:not(:focus-visible) {
		outline: none;
	}

	/* --------------- FOOTER --------------- */

	footer {
		flex-direction: column;
		gap: 70px;
		padding: 15vh 15vh 10vh;
	}

	.timeline {
		width: 90%;
	}

	.work-container a {
		width: 45%;
		font-size: 1.5em;
	}

	.gallery-item {
		width: 45%;
		
	}
}

@media (max-width: 768px) {

	:root {
		--miPaddingL: 0 20vh;
		--miPaddingSection: 20vh;
	}

	/* --------------- LANDING --------------- */

	h1 {
		font-size: 2em;
	}

	#landing p {
		font-size: 0.7em;
	}
	
	/* --------------- SOBRE MÍ --------------- */

	h2 {
		font-size: 1.5em;
	}
	
	#about .about-data {
		width: 100%;
		text-align: justify;
		font-size: 0.7em;
	}

	/* --------------- TRABAJOS --------------- */

	.work-container a {
		width: 100%;
		font-size: 2em;
	}

	/* --------------- FORMULARIO --------------- */

	.form-container {
		width: 100%;
		flex-direction: column;
		gap: 10vh;
	}

	.form {
		width: 100%;
	}

	.contacto-other {
		width: 100%;
		flex-direction: column;
	}

	/* --------------- WORKS --------------- */

	#present-design p{
		width: 100%;
		text-align: justify;
		font-size: 0.7em;
	}

	/* --------------- GALERÍA --------------- */

	.gallery-item {
		width: 100%;
	}

	.lightbox-content {
		width: 85%;
	}

	.lightbox-prev {
		left: -30px;
	}
	
	.lightbox-next {
		right: -30px;
	}	
}