@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: "Azeret Mono", "monospace";
}

body {
	background-color: #191919;
}

#borrar {
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 25vh 10%;
	color: #f6f6f6;
	animation: text-blur-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
}

#borrar h1 {
	font-size: 100px;
	font-weight: 400;
}